body{
    padding: 0px;
    margin: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.bg{
    height: 100vh;
    background-image: url("/static/cloud-bg.jpg");
    background-size: cover;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.info{
    
    position: relative;
}