<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Weather App</title>
</head>
<body>
        <div class="bg">
            <div class="overlay"></div>
            <div class="info">
                <h1 class="title">Weather Info</h1>
                <form method="post">
                <input type="text" id="cityInput" name="city" placeholder="Enter city name" class="city-input">
                <center>
                <button id="getWeatherBtn" class="get-weather-btn">Get Weather</button>
                </center>
                </form>
                {% if error %}
                   <p class="error">{{ error }}</p>
                {% endif %}

                {% if weather %}
                    <div class="card">
                    <h2>{{ weather.city }}</h2>
                    <img src="https://openweathermap.org/img/wn/{{ weather.icon }}@2x.png" alt="icon">
                    <p><b>{{ weather.temp }}°C</b> - {{ weather.desc }}</p>
                    <p>Humidity: {{ weather.humidity }}%</p>
                    <p>Wind Speed: {{ weather.wind }} m/s</p>
                    </div>
                {% endif %}

            </div>
    </div>
</body>
</html>